:root {
    --orange: #ff6900;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

header {
    background-color: var(--orange);
    box-shadow: 0 1px 3px #666;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin-bottom: 30px;
    height: 80px;
    color: white;
}


/* Utils */
.flex {
    display: flex;
}

#logo {
    height: 30px;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.col {
    flex-basis: calc(100%/3);
}

/* Header */
.navbar {
    display: flex;
    height: 100%;
    padding: 10px 0;
    align-items: center;
}

.navbar>div {
    /* border: 2px dashed white; */
    flex-basis: calc(100%/3);
}

.navbar-right ul {
    justify-content: flex-end;
}

.navbar ul {
    display: flex;
    gap: 10px;
}